:root {
	/*size*/
	--ui-current-round-size: 8px;
	/*color*/
	--ui-current-round-color: #2fc6f6;
	--ui-current-round-bg-color: #ccf2ff;
	--ui-current-round-bg-track-color: #edeef0;
	--ui-progressround-color-success: #9dcf00;
	--ui-progressround-bg-color-success: #e7faa9;
	--ui-progressround-bg-track-color-success: #d7f282;
	--ui-progressround-color-primary: #2fc6f6;
	--ui-progressround-bg-color-primary: #ccf2ff;
	--ui-progressround-bg-track-color-primary: #b0e8fa;
	--ui-progressround-color-danger: #ff5752;
	--ui-progressround-bg-color-danger: #ffdfde;
	--ui-progressround-bg-track-color-danger: #ffccca;
	--ui-progressround-color-warning: #e5cf4d;
	--ui-progressround-bg-color-warning: #fff8d2;
	--ui-progressround-bg-track-color-warning: #f9f0b7;
}

/*region Base style*/
.ui-progressround {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 100%;
	transition: 250ms linear all;
	align-items: center;
}

.ui-progressround.ui-progressround-bg {
	padding: 14px;
	background-color: var(--ui-current-round-bg-color);
}

.ui-progressround-track {
	width: var(--ui-current-round-size);
	height: var(--ui-current-round-size);
	border-radius: calc(var(--ui-current-round-size) / 2);
	background-color:  #edeef0;
	position: relative;
}

.ui-progressround-bg .ui-progressround-track { background-color: var(--ui-current-round-bg-track-color); }

.ui-progressround-round {
	height: var(--ui-current-round-size);
	border-radius: calc(var(--ui-current-round-size) / 2);
	background-color: var(--ui-current-round-color);
}

.ui-progressround-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--ui-current-round-size);
	height: var(--ui-current-round-size);
}

.ui-progressround-bar.clip1 {
	clip: rect(0px, var(--ui-current-round-size), var(--ui-current-round-size), calc(var(--ui-current-round-size) / 2));
}

.ui-progressround-bar.clip2 {
	clip: rect(0, calc(var(--ui-current-round-size) / 2), var(--ui-current-round-size), 0px);
}

.ui-progressround-bar .slice1,
.ui-progressround-bar .slice2 {
	animation-delay: 140ms;
	animation-duration: 140ms;
	animation-fill-mode: backwards;
	animation-timing-function: linear;
}

.ui-progressround-bar .slice2 {
	animation-delay: 280ms;
}

.ui-progressround-status,
.ui-progressround-status-percent { order: 3 }

.ui-progressround-status,
.ui-progressround-status-percent,
.ui-progressround-text-after,
.ui-progressround-text-before {
	padding: 0 17px;
	color: #535c69;
	font: 13px/16px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ui-progressround-text-after {
	padding-left: 15px;
	order: 4;
}

.ui-progressround-text-before {
	padding-right: 15px;
	order: 1;
}

.ui-progressround-pie {}
.ui-progressround-pie:after {

}

.ui-progressround-bagel {
	background-clip: content-box;
	border: 0 solid transparent;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	border-radius: 50%;
	background-color: #fff;
}

/*endregion*/

/*region Column*/
.ui-progressround-track {
	margin: 11px 0 9px;
	order: 3
}

.ui-progressround-text-before {
	padding: 0 0 3px;
	font-size: 14px;
	order: 1;
}

.ui-progressround-text-after {
	padding: 0;
	color: #828b95;
	font-size: 12px;
	order: 5;
}

.ui-progressround-status { order: 4 }

.ui-progressround-status-percent {
	color: #333;
	font: 300 16px/20px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	order: 2;
}

/*endregion*/

/*region Bar colors*/
.ui-progressround-bg,
.ui-progressround-primary {
	--ui-current-round-color: var(--ui-progressround-color-primary);
	--ui-current-round-bg-color: var(--ui-progressround-bg-color-primary);
	--ui-current-round-bg-track-color: var(--ui-progressround-bg-track-color-primary)
}

.ui-progressround-danger {
	--ui-current-round-color: var(--ui-progressround-color-danger);
	--ui-current-round-bg-color: var(--ui-progressround-bg-color-danger);
	--ui-current-round-bg-track-color: var(--ui-progressround-bg-track-color-danger)
}

.ui-progressround-warning {
	--ui-current-round-color: var(--ui-progressround-color-warning);
	--ui-current-round-bg-color: var(--ui-progressround-bg-color-warning);
	--ui-current-round-bg-track-color: var(--ui-progressround-bg-track-color-warning)
}

.ui-progressround-success {
	--ui-current-round-color: var(--ui-progressround-color-success);
	--ui-current-round-bg-color: var(--ui-progressround-bg-color-success);
	--ui-current-round-bg-track-color: var(--ui-progressround-bg-track-color-success)
}

/*endregion*/

/*region Bar size*/
.ui-progressround-md { --ui-current-round-size: var(--ui-progressround-size-md) }

.ui-progressround-lg { --ui-current-round-size: var(--ui-progressround-size-lg) }

/*endregion*/


/*region Progress Round*/

.pie {

}

.clip1 {
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
	/*width: 200px;*/
	/*height: 200px;*/
	/*clip: rect(0px, 200px, 200px, 100px);*/
}

.slice1 {
	/*transition: 250ms ease-in-out all;*/
	position: absolute;
	width: var(--ui-current-round-size);
	height: var(--ui-current-round-size);
	clip: rect(0px, calc(var(--ui-current-round-size) / 2), var(--ui-current-round-size), 0px);
	border-radius: calc(var(--ui-current-round-size) / 2);
	background-color: var(--ui-current-round-color);
	border-color: var(--ui-current-round-color);
	-moz-transform: rotate(0);
	-webkit-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
}

.clip2 {
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
	/*width: 200px;*/
	/*height: 200px;*/
	/*clip: rect(0, 100px, 200px, 0px);*/
}

.slice2 {
	/*transition: 250ms ease-in-out all;*/
	position: absolute;
	width: var(--ui-current-round-size);
	height: var(--ui-current-round-size);
	clip: rect(0px, var(--ui-current-round-size), var(--ui-current-round-size), calc(var(--ui-current-round-size) / 2));
	border-radius: calc(var(--ui-current-round-size) / 2);
	background-color: var(--ui-current-round-color);
	border-color: var(--ui-current-round-color);
	-moz-transform: rotate(0);
	-webkit-transform: rotate(0);
	-o-transform: rotate(0);
	transform: rotate(0);
}

.status {
	position: absolute;
	height: 30px;
	width: 200px;
	line-height: 60px;
	text-align: center;
	top: 50%;
	margin-top: -35px;
	font-size: 60px;
}

/*endregion*/