#hide_menu_top{
	display: none;
}
#hide_menu_top a{
	color: #fff;
}
.show_hide_all a{
	color: #fff;
}

.show_hide_all{
	text-align: center;
}
.menu-dd::-webkit-scrollbar {
    width: 5px;
    background-color: #ff8c00;
}
.menu-dd::-webkit-scrollbar-thumb {
    width: 5px;
    background: #ff8c00;
}

.menu-dd::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border: 1px solid #00ae68;
    background-color: #00ae68;
}

.menu-dd::-webkit-scrollbar-button {
    background-color: #ff8c00;
    height: 0px;
}

.menu-dd::-webkit-scrollbar-corner {
    background-color: #ff8c00;
    height: 0px;
}