.documentation_item a{
	background: #00ae68;
    width: 100%;
    display: block;
    text-align: center;
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    transition: .2s all;
	border: 2px solid #00ae68;
}
.documentation_item a:hover{
	color: #00ae68;
	background: #fff;
	text-decoration: none;
}